.l-s-b{
    display: flex;
    flex-direction: column;
    background-color: #20202a;
    width: 290px;
    height: 100%;
    box-shadow: 0 3px 8px 0 rgba(15,15,200,0.2);
    flex-shrink: 0;
    position: relative;
    h2{
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
.l-s-b-header{
    max-width: 100%;
    padding: 15px 10px 5px 10px;
    background: linear-gradient(
159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(15,15,20,0.1);
}
.l-s-b-header img{
    height: 120px;
    border-radius: 100%;
    border:1px solid black;
}
.l-s-b-info{
    margin:0px 20px;
    overflow: scroll;
    margin-bottom: 60px;
}
.l-s-b-info .l-s-b-personal{
    margin-bottom: 10px;
}
.l-s-b-info .l-s-b-personal li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.l-s-b-info .l-s-b-personal li h5{
    margin: 0;
    padding-top: 2.5px;
    font-weight: 400;
    font-size: 13px;
}

.l-s-b-language .bar-charts{
    display: flex;
    justify-content: space-between;
}
.l-s-b-socials{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: linear-gradient(
159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
opacity: 1;
}
.socials-wrapper{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 5px;
}
.socials-wrapper img{
    height: 30px;
    fill: white;
    -webkit-filter: invert(100%);

}

.circle{
    border:2px solid #ffc107;
    border-radius:50%;
    background:rgba(0,0,0,0);
    width:50px;
    height:50px;
    text-align:center;
    line-height:100px;
    display: flex;
justify-content: center;    align-items: center;
  }